name: Deploy to EC2
on: 
  push: 
    branches: 
      - main
jobs:
  deploy:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Execute remote SSH commands using SSH key
      uses: appleboy/ssh-action@v1
      with:
        host: 3.21.170.160
        username: ubuntu
        key: ${{ secrets.PRIVATE_SSH_KEY }}
        port: 22
        script: whoami